.article-dropdown{
    width: 100px;
    .anticon-edit,.anticon-delete{
        margin-right: 20px;
    }
}

.user-home-container{
    height: 100%;
    width: 70%;
    max-width: 100%;
    padding: 15px 0;
    //background-color: #eff1f4;
    display: flex;
    justify-content: space-around;

    //卡片阴影
    .user-header-container,.user-minor-card,.ant-list-empty-text,.article-list-item{
        box-shadow: 1px 1px 3px 2px #d9d9d9;
    }
    //左边list区域
    .user-card-list-container{
        width: 65%;
        margin-right: 20%;

        .user-header{
            margin-bottom: 10px;
            .icon-icon-test2,.icon-icon-test,.icon-icon-test1,.icon-icon-test3,.icon-icon-test4,.icon-icon-test5{
                font-size: 20px;
                margin-left: 10px;
            }
            // 一级
            .icon-icon-test2{
                color: #cdcdcd;
            }
            // 二级
            .icon-icon-test{
                color: #bae7ff;
            }
            //三级
            .icon-icon-test1{
                color: #60a1e1;
            }
            // 四级
            .icon-icon-test3{
                color: #febb8b;
            }
            // 五级
            .icon-icon-test4{
                color: #d83627;
            }
            .icon-icon-test5{
                color: #d81e06;
            }
        }
    }
    //右边框
    .user-minor-container{
        top: 77px;
        right: 8%;
        position: fixed;
        width: 20%;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .ant-card-head-title:hover{
            animation: headShake;
            animation-duration: 1s;
        }
        .user-minor-card{
            width: 100%;
            margin-bottom: 20px;

            .tags-list-container{
                span{
                    margin: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}