@font-face {
    font-family: "iconfont"; /* Project id 3258782 */
    src: url('//at.alicdn.com/t/font_3258782_50mti9tfbw.woff2?t=1650683179693') format('woff2'),
    url('//at.alicdn.com/t/font_3258782_50mti9tfbw.woff?t=1650683179693') format('woff'),
    url('//at.alicdn.com/t/font_3258782_50mti9tfbw.ttf?t=1650683179693') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
    content: "\e619";
}

.icon-icon-test1:before {
    content: "\e61a";
}

.icon-icon-test2:before {
    content: "\e61b";
}

.icon-icon-test3:before {
    content: "\e61c";
}

.icon-icon-test4:before {
    content: "\e61d";
}

.icon-icon-test5:before {
    content: "\e61e";
}

.icon-bangwan:before {
    content: "\e6c6";
}

.icon-shangwu:before {
    content: "\e6c7";
}

.icon-wanshang:before {
    content: "\e648";
}

.icon-a-qingtianbaitian:before {
    content: "\e6a2";
}
