//基础布局样式

// 错误页面
.err-page-container{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    button:hover{
        animation: headShake;
        animation-duration: 1s;
    }
}
//粒子
.background{
    background: linear-gradient(-120deg,#d6e4ff,#fff1f0, #f5f5f5);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}
// 清楚滚动条
.clear-scroll{
    &::-webkit-scrollbar { width: 0 !important }
}
//导航栏具体的样式
@logo_container_width:210px;
@navigation_width:850px;
@headerHeight:62px;
//头部dropdown菜单
.ant-dropdown{
    width: 120px;
    .ant-menu{
        .ant-menu-item{
            margin:  4px 0;
            padding: 0 10px;
            .ant-menu-title-content{
                display: flex;
                align-items: center;
                span{
                    flex-grow: 1;
                }
            }
        }
    }

    .ant-divider-horizontal{
        margin: 5px 0;
    }
}
//头部导航栏
.ant-layout-header{
    height:@headerHeight;
    padding: 0;
    background-color: #f5f5f5;
    //box-shadow: 0 3px 3px 2px #4c2e3f;

    box-shadow: 0 1px 4px 2px #d9d9d9;
    transition: ease-out 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    &:hover{
      //box-shadow: 0 3px 4px 2px #d9d9d9;
        box-shadow: 0 1px 6px 2px #bfbfbf;
    }
    .logo_container{

        width: @logo_container_width;
        display: flex;
        justify-content: space-around;
        align-items: center;
        //透明图片的阴影
        filter: drop-shadow(1px 1px 0.5px #8c8c8c);

        img{

            width: 100%;
            height: 85%;
            cursor: pointer;
            &:hover{
              animation: headShake;
              animation-duration: 1s;
            }

        }
    }
    //导航栏容器
    .header_nav_container{
        padding: 0 10px;
        height: 100%;
        width: calc(100% - @logo_container_width);
        display: flex;
        align-items: center;
        justify-content: space-between;

        //-------input框样式
        .ant-input-affix-wrapper{
          width: 200px;
          input{
              width: 100%;
          }
        }
        .ant-input-affix-wrapper-focused{
          width: 400px;
          & + .navigation{
              width: @navigation_width - 200px;
          }
        }
        //--------
        .navigation{
          width:@navigation_width;
          height: 62px;
          overflow: hidden;
          //菜单样式
          .ant-menu-light{
              background-color: #f5f5f5;
              li{
                  user-select: none;
                  font-size: 16px;
              }
          }
        }
        //-------用户导航栏 通知和头像
        .user_container{
            //宽度写死防抖动
            max-width: 150px;
            min-width: 150px;
            //width: 200px;
            //width:calc(100% - @navigation_width - 200px) ;
            //max-width: calc(100% - @navigation_width - 200px);
            //min-width: calc(100% - @navigation_width - 200px);
            display: flex;
            align-items: center;
            justify-content: space-around;
            user-select: none;
            //评论图标
            .anticon-comment{
              font-size: 1.8rem;
              color: #8c8c8c;
            }
            span{
              display: block;
              img{
                  cursor: pointer;

              }
            }

        }
    }

}
//content容器
.ant-layout-content{
  //padding: 15px 20px;
    height: calc(100vh - @headerHeight);
    z-index: 5;

    //height: calc(100vh - @headerHeight);
    //backdrop-filter: blur(3px);
    //background: linear-gradient(180deg,#f5f5f5,#d6e4ff);
      //白色内容展示区
    .site-layout-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: auto;
        //右边框时间显示
        .time-container{
            display: flex;
            height: 60px;
            overflow: hidden;
            .icon-a-qingtianbaitian,.icon-wanshang,.icon-bangwan,.icon-shangwu{
              font-size: 300%;
              color: #595959;
            }
            .time-icon{
              margin-right: 15px;
            }
            .time-info{
                width: calc(100% - 40px);
                text-align: center;
                font-size: 150%;
                line-height: 65px;
                h1{
                    color:#595959;
                    font-family: sounso-rare;
                }
            }
        }
        .ant-back-top{
            div{
                height: 40px;
                width: 40px;
                line-height: 40px;
                border-radius: 50%;
                background-color: #434343;
                color: #fff;
                text-align:center;
                font-size: 14px;
            }
        }
    }
      .infinite-scroll-component__outerdiv{
          width: 100%;
      }
      //无线滚动容器
      .infinite-scroll-component{
          overflow: unset !important;
      }
      //no data
      .ant-list-empty-text{
          background-color: #fff;
          user-select: none;
      }
      //文章卡片
      .article-list-item{
            width: 100%;
            margin-bottom: 15px;
            background-color: #fff;
            border-radius: 3px;

          &:hover{
              background-color: #f8f8f8;
              transition: background-color ease-out 0.2s;
          }
          //box-shadow: 1px 1px 4px 2px #d9d9d9
          //width: 100%;
          //margin-bottom: 18px;
          //background-color: #fff;
          //border-radius: 3px;

          //文章换行省略
          .article-list-item-content{
              word-break: break-all;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3; /* 这里是超出几行省略 */
              overflow: hidden;
              cursor: pointer;
          }
          //.ant-list-item-action{
          //}
          .ant-list-item-extra{
              margin-left: 0;
          }

      }


}



//------------------